.hide { display: none; }



/* Icons  */ 

.icon-xs { font-size: 13px !important; }
.icon-sm { font-size: 16px !important; }
.icon-md { font-size: 40px !important; }
.icon-xl { font-size: 100px !important; }

/* Text  */ 

.code { font-family: monospace; }

.word-wrap { word-wrap: break-word; }

.cursor { cursor: pointer; }

.nl2br { white-space: pre-line; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.selectable {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fs-00 { font-size: 0px; !important; }
.fs-01 { font-size: 1px; !important; }
.fs-02 { font-size: 2px; !important; }
.fs-03 { font-size: 3px; !important; }
.fs-04 { font-size: 4px; !important; }
.fs-05 { font-size: 5px; !important; }
.fs-06 { font-size: 6px; !important; }
.fs-07 { font-size: 7px; !important; }
.fs-08 { font-size: 8px; !important; }
.fs-09 { font-size: 9px; !important; }
.fs-10 { font-size: 10px; !important; }
.fs-11 { font-size: 11px; !important; }
.fs-12 { font-size: 12px; !important; }
.fs-13 { font-size: 13px; !important; }
.fs-14 { font-size: 14px; !important; }
.fs-15 { font-size: 15px; !important; }
.fs-16 { font-size: 16px; !important; }
.fs-17 { font-size: 17px; !important; }
.fs-18 { font-size: 18px; !important; }
.fs-19 { font-size: 19px; !important; }
.fs-20 { font-size: 20px; !important; }
.fs-21 { font-size: 21px; !important; }
.fs-22 { font-size: 22px; !important; }
.fs-23 { font-size: 23px; !important; }
.fs-24 { font-size: 24px; !important; }
.fs-25 { font-size: 25px; !important; }
.fs-26 { font-size: 26px; !important; }
.fs-27 { font-size: 27px; !important; }
.fs-28 { font-size: 28px; !important; }
.fs-29 { font-size: 29px; !important; }
.fs-30 { font-size: 30px; !important; }



/* Animations  */ 

.delay-05 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.delay-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.bend-left { transform: perspective( 800px ) rotateY( 380deg ); }
.bend-left.shadow { box-shadow: -10px 10px 4px #4a4a4a59; }  
.bend-right { transform: perspective( 800px ) rotateY( 340deg ); }
.bend-right.shadow { box-shadow: 10px 10px 4px #4a4a4a59; }

.spiny {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid #fec108;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spiny 1s ease-in-out infinite;
  -webkit-animation: spiny 1s ease-in-out infinite;
}

@keyframes spiny { to { -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spiny { to { -webkit-transform: rotate(360deg); } }